{{ define "main" }}
<section class="title">
  <div class="row gx-0 aling-items-center">
    <div class="col-md-6">
      <img class="img-fluid" src="images/snake.jpg" />
    </div>
    <div class="col-md-6 row gx-0 align-items-center pb-4">
      <div class="col-sm text-center">
        <h1 class="text-center p-3">
          La mejor cria de reptiles certificada en los altos de Jalisco
        </h1>
        <button
          class="btn btn-lg button-primary m-auto icon"
          style="background-color: #f4eea9"
        >
          Conozca mas
        </button>
      </div>
    </div>
  </div>
</section>




    <section class="diferenciadores">
        <div class="container  text-center diff-clase">
            <div class="row justify-content-center">

                <div class="col-sm row row-cols-1 pb-5">
                    <div class="col ">
                        <img class="img-fluid icon" src="images/one.png">
                        <h3> #1 en nuestra región</h3>
                    </div>
                    <div class="col my-auto">
                        <h5 class="">Somos líderes en los altos de Jalisco</h5>
                    </div>
                </div>

                <div class="col-sm row row-cols-1 pb-5">
                    <div class="col ">
                        <img class="img-fluid  icon" src="images/snake-icon.png">
                        <h3 class="">Calidad que nos distingue</h3>
                    </div>
                    <div class="col my-auto">
                        <h5 class="">Nos preocupamos por la salud de nuestros reptiles</h5>
                    </div>
                </div>
                <div class="col-sm  row row-cols-1 pb-2">
                    <div class="col ">
                        <img class="img-fluid  icon" src="images/guarantee.png">
                        <h3 class="">Autorizados por SEMARNAT</h3>
                    </div>
                    <div class="col my-auto">
                        <h5 class="">Contamos con respaldo legal de nuestros reptiles </h5>
                    </div>
                </div>

            </div>

        </div>

    </section>


 <section class="reseñas">

        <div id="carouselExampleControls" class="my-auto carousel slide" data-bs-ride="false" data-bs-interval="5000"
            data-pause="hover">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <div class="d-block w-100">
                        <h4 class="texto-review">"Excelente servicio, excelente atención, excelentes ejemplares,
                            totalmente
                            recomendado."</h4>
                        <img class=" imagen-testimonio " src="images/1.jpg">
                        <p>~JR Loredro (Pitón Bola)</p>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="d-block w-100">
                        <h4 class="texto-review ">"Excelente atención desde que pregunte por el ejemplar,buenos
                            ejemplares, buena atención buenos precios recomendado ampliamente."</h4>
                        <img class=" imagen-testimonio " src="images/2.jpg">
                        <p>~Edgar Jasso (gekko australiano)</p>

                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="d-block w-100 ">
                        <h4 class="texto-review">"Buen servicio. Muy atentos y te aclaran las dudas, muy cuidados y
                            bien
                            atendidos.
                            Buena organización."</h4>
                        <img class=" imagen-testimonio " src="images/3.jpg" img>
                        <p>~Fabian Martín del Campo</p>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


    </section>

{{ end }}
