<nav
  class="navbar navbar-expand-lg border-bottom rounded border-5 border-success"
>
  <a class="navbar-brand ms-auto mx-md-0" style="width: 0%" href="#">
    <!-- aling items center for text-->
    <div class="d-flex align-items-center">
      <img
        src="images/logo.png"
        class="redirect d-inline-block icon"
        height="80"
        width="80"
        href="./index.html"
      />
      <!-- <span class="redirect icon d-none d-md-block d-inline-block align-middle texto-logo" href="./index.html -->
      <span
        class="redirect icon d-none d-md-block d-inline-block align-middle texto-logo"
        href="./index.html
                    "
        >Reptile Instinct</span
      >
    </div>
  </a>
  <button
    class="navbar-toggler ms-auto"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- el form tenia ms-3 -->
    <form class="d-flex center-searchbar ps-4" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Piton red pipe"
        aria-label="Search"
      />
      <button class="btn btn-outline-success me-3" type="submit">Buscar</button>
    </form>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item text-center">
        <a class="nav-link" href="./shop.html">Catálogo</a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" href="./item.html">Serpiente</a>
      </li>
      <li class="nav-item text-center">
        <a
          class="nav-link"
          href="https://www.facebook.com/profile.php?id=100076822691831"
          target="_blank"
          >Contacto</a
        >
      </li>
    </ul>
    <form class="d-flex">
      <button
        class="btn btn-outline-dark mx-auto mx-auto carrito me-lx-3 me-lg-3 me-xxl-3"
        type="submit"
      >
        <i class="bi-cart-fill"></i>
        Carrito
        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
      </button>
    </form>
  </div>
</nav>
